#J_logistics_pop .bui-select{width:130px;}
#J_logistics_pop .bui-select .bui-select-input{width:101px;padding-left:0px;}
.main-seach-2 .bui-select{width:130px;}
.main-seach-2 .bui-select .bui-select-input{width:101px;padding-left:0px;}
#J_logistics_pop .x-pop-element{margin-bottom:10px;height:30px;line-height:30px;float:left;}
#J_logistics_pop select{border:1px solid #E5E8ED; border-radius:5px;}