/**
 
	promo创建活动样式文件add.css
 
**/

/*最低折扣*/
.hlg-app .main .Mpromotion .min-rebate{ width:210px; height:30px; line-height:30px; padding:0 15px; float:left; border-radius:15px; background:#f6f7fb; color:#aab2bd;}
.hlg-app .main .Mpromotion .min-rebate img{ vertical-align:middle;}
.hlg-app .main .Mpromotion .min-rebate b{ color:#fb6e52;}
/*重置左右列表*/
.hlg-app .main .Mpromotion .edit-promo .ui-about-list{ margin:50px 70px;}
.hlg-app .main .Mpromotion .edit-promo .ui-about-list .input_style{ margin:0 10px 0 0; float:left;}
.hlg-app .main .Mpromotion .ui-side-list{ width:130px;}
/*活动标签*/
.hlg-app .main .Mpromotion .edit-promo .ui-about-list .edit-promo-flag{ padding-left:10px;}
.hlg-app .main .Mpromotion .edit-promo .ui-about-list .edit-promo-flag i{ height:18px; line-height:18px; display:inline-block; padding:0 3px; margin-left:5px; background:#f2726f; color:#fff;}
.hlg-app .main .Mpromotion .edit-promo .ui-about-list .edit-promo-flag b{ color:#ff4200;}
/*标签选择*/
.hlg-app .main .Mpromotion .edit-promo .ui-about-list .flag-list{ padding-top:5px;}
.hlg-app .main .Mpromotion .edit-promo .ui-about-list .flag-list a{ padding:4px 5px; border-radius:5px; background:#cdd1da; color:#fff; } 
/*折扣输入框*/
.hlg-app .main .Mpromotion .edit-promo .ui-about-list .rebate-text{ float:left;}
.hlg-app .main .Mpromotion .edit-promo .ui-about-list .rebate-text .input-text-1{ width:60px; border-radius:5px 0px 0px 5px; float:left;}
.hlg-app .main .Mpromotion .edit-promo .ui-about-list .rebate-text span{ width:31px; height:28px; line-height:28px; float:left; margin-right:5px; border:1px #e5e8ed solid; border-left:0; border-radius:0px 5px 5px 0px; text-align:center; background:#f6f7fb; color:#abb1bd;}
/*送彩票留言*/
.hlg-app .main .Mpromotion .edit-promo .tier-item .send-lottery-text{ width:400px; margin:5px 0 0 5px; color:#666; font-size:12px;}
.hlg-app .main .Mpromotion .edit-promo .tier-item .input-num{ width:78px;}
/*选择排除宝贝*/
.hlg-app .main .Mpromotion .edit-promo .remove-item{ width:78px; height:78px; display:block; float:left; margin-right:20px; margin-top:4px; border:1px #e5e8ed solid; border-radius:5px; color:#ccd0d9; background:#f6f7fb;}
.hlg-app .main .Mpromotion .edit-promo .remove-item:hover{ border:1px #ccd0d9 solid;}
.hlg-app .main .Mpromotion .edit-promo .remove-item i{ width:26px; height:26px; margin:15px auto 5px auto; display:block; background:url(http://cdn.huanleguang.com/img/hlg-app/common/hlg-app-common.png) no-repeat scroll -148px -605px;}
.hlg-app .main .Mpromotion .edit-promo .remove-item span{ line-height:20px; text-align:center; display:block;}
.hlg-app .main .remove-list .list-edit b{ font-size:20px;}
/*已排除宝贝列表*/
.hlg-app .main .Mpromotion .edit-promo .remove-item-list{ width:475px; height:172px; overflow:hidden; padding-top:4px; float:left;}
.hlg-app .main .Mpromotion .edit-promo .remove-item-list li{ width:110px; height:170px; float:left; clear:none; margin:0px 4px 4px 4px; overflow:visible; position:relative;} 
html.ie6 .hlg-app .main .Mpromotion .edit-promo .remove-item-list li{ display:inline;}
.hlg-app .main .Mpromotion .edit-promo .remove-item-list li a{ width:100px; color:#aab2bd; display:block; background:#fff; padding:4px; border:1px #e5e8ed solid; border-radius:5px;}
.hlg-app .main .Mpromotion .edit-promo .remove-item-list li a i{ width:100px; height:100px; display:block;}
.hlg-app .main .Mpromotion .edit-promo .remove-item-list li em{ width:20px; height:20px; display:none; position:absolute; right:-4px; top:-4px; background:url(http://cdn.huanleguang.com/img/hlg-app/common/hlg-app-common.png) no-repeat scroll -171px -168px;}
.hlg-app .main .Mpromotion .edit-promo .remove-item-list li a span{ height:20px; line-height:20px; display:block; overflow:hidden;}
.hlg-app .main .Mpromotion .edit-promo .remove-item-list li.current a{ color:#4dc1e8;}
.hlg-app .main .Mpromotion .edit-promo .remove-item-list li.current a span{ height:60px;}
.hlg-app .main .Mpromotion .edit-promo .remove-item-list li.current em{ display:block; cursor:pointer;}
/*查看更多按钮*/
.hlg-app .main .Mpromotion .edit-promo .view-more { width:98px; height:108px; margin:0 0 0 10px;}
.hlg-app .main .Mpromotion .edit-promo .view-more i{ width:37px; height:9px; margin:20px auto 10px auto; background-position:-154px -62px;}

/*选择参与活动的宝贝*/
.hlg-app .main .Mpromotion .edit-promo .promo-item-show{ width:330px; height:100px; float:left; padding:4px; margin-right:20px; border:1px #e5e8ed solid; border-radius:5px;}
.hlg-app .main .Mpromotion .edit-promo .promo-item-show a{ width:100px; height:100px; display:block; float:left;}
.hlg-app .main .Mpromotion .edit-promo .promo-item-show div{ width:210px; float:left; padding-left:15px;}
.hlg-app .main .Mpromotion .edit-promo .promo-item-show div p{ width:100%; height:40px; line-height:20px; color:#aab2bd; margin:10px 0; overflow:hidden;}
.hlg-app .main .Mpromotion .edit-promo .promo-item-show div span{ margin-right:20px;}
.hlg-app .main .Mpromotion .edit-promo .promo-item-show div span b{ color:#4dc1e8; font-size:18px;}
.hlg-app .main .Mpromotion .edit-promo .choose-promo-item i{ width:24px; height:24px; background-position:-153px -635px;}
/*设置第N件优惠层级*/
.hlg-app .main .Mpromotion .first-N .tier-item{ width:240px; padding:15px;}
.hlg-app .main .Mpromotion .first-N .tier-item .set-condition{ border:0; padding:0;}
.hlg-app .main .Mpromotion .first-N .tier-num{ width:60px; height:18px; margin-right:15px; background-position:-131px -507px;}
/*添加无关宝贝*/
.hlg-app .main .Mpromotion .edit-promo .promo-item-note{ width:300px; line-height:20px; padding:23px; float:left; background:#fffdec; color:#eaab2b; border-radius:5px;}
.hlg-app .main .Mpromotion .edit-promo .promo-remind{ height:32px; line-height:32px; padding:0 10px; margin-top:10px; color:#eaab2b; background:#fffdec; border-radius:5px;}
/*设置一口价*/
.hlg-app .main .Mpromotion .edit-promo .ladder-price-list{ padding-top:10px; clear:both;}
.hlg-app .main .Mpromotion .edit-promo .ladder-price-list label{ width:105px; float:left; margin:7px 10px 0 0;}
/*设置阶梯价层级*/
.hlg-app .main .Mpromotion .first-jtj .tier-item{ width:380px; padding:15px; overflow:hidden;}
.hlg-app .main .Mpromotion .first-jtj .tier-num{ width:60px; height:18px; float:left; margin:7px 15px 0 0; background-position:-131px -507px;}
.hlg-app .main .Mpromotion .first-jtj .input-text-1{ width:120px; float:left; color:#7A818B; font-size:12px;}
.hlg-app .main .Mpromotion .first-jtj .jtj-tiem-flag{ width:7px; height:7px; float:left; margin:12px 5px 5px 5px; display:inline-block; background: url("http://cdn.huanleguang.com/img/hlg-app/promo/promo-list-icon.jpg") no-repeat scroll 0 -16px;}

/*添加活动说明输入框*/
.hlg-app .main .privilege-tier .promo-explain{ width:550px; color:#aab2bd;}

/*弹窗排除宝贝*/
.bui-dialog .bui-stdmod-body{ padding:0 20px 20px 20px;}
.ui-list .tip-details{ width:274px; height:142px; margin:30px auto 0 auto; background:url(http://cdn.huanleguang.com/img/hlg-app/promo/search-tip.jpg) no-repeat;}
.ui-list .edit-remove-item{ width:660px; height:475px; overflow:hidden; }
.ui-list .edit-remove-item li{ width:660px; height:67px;}
.ui-list .ks-switchable-nav{ clear:both; margin-top:15px; float:right;}
.ui-list .ks-switchable-nav li{ width:36px; height:36px; line-height:36px; text-align:center; background:#e6e9ee; color:#656d78; margin-right:1px; float:left; cursor:pointer;}
.ui-list .ks-switchable-nav li.ks-active{ background:#8bd167; color:#fff;}

/*弹窗选择免邮地区*/
.pop-area{ margin:20px auto;}
.pop-area .fast-area{ height:27px; margin-bottom:20px;}
.pop-area .fast-area a{ height:26px; line-height:26px; display:inline-block; padding:0 10px; background:#aab2bd; color:#fff; border-radius:3px; margin-right:10px;}
.pop-area .pop-area-list{ padding-bottom:10px; border-bottom:1px #e5e8ed dashed;}
.pop-area .pop-area-list li,.pop-area .pop-area-other li{ margin-bottom:15px;}
.pop-area .pop-area-list li b,.pop-area .pop-area-other li b{ color:#aab2bd; padding-right:10px;}
.pop-area .pop-area-other{ padding-top:20px;}

/*弹窗提示是否加入活动*/
.pop-is-promo .ui-about-list li{ margin-bottom:0;}
.pop-is-promo .ui-about-list li .promo-flag{ height:18px; line-height:18px; display:inline-block; padding:0 3px; margin-left:5px; background:#f2726f; color:#fff;}
.pop-is-promo .ui-about-list li .ui-content-list{ color:#aab2bd;}

/*弹窗更改满就送层级优惠信息*/
.pop-reset-mjs{ padding-top:20px;}
.pop-reset-mjs p{ margin-bottom:20px;}
.pop-reset-mjs li{ padding:10px 0; border-top:1px #e5e8ed solid;}
.pop-reset-mjs li .reset-mjs-text span{ color:#4dc1e8; margin-right:20px;}
.pop-reset-mjs li .reset-mjs-text span i{ padding:1px 6px; width:18px; height:18px; line-height:18px; margin-right:10px; color:#fff; text-align:center; background:url(http://cdn.huanleguang.com/img/hlg-app/common/hlg-app-common.png) no-repeat scroll -117px -635px;}
.pop-reset-mjs li .reset-mjs-text span .input-text-1{ width:50px;}
.pop-reset-mjs li .my-text{ margin:10px 0 0 30px; color:#aab2bd;}
