/**
 
	promo样式文件list.css
 
**/

.hlg-app .main .Mpromotion .ui-list .list-bd .list-item{ padding:20px 0;}
.hlg-app .main .Mpromotion .ui-list .list-bd .list-item .promo-list-nama{ padding-bottom:5px;}
.hlg-app .main .Mpromotion .promo-tiem{ width:130px; display:inline-block; float:left; font-family:arial;}
.hlg-app .main .Mpromotion .promo-type{ color:#AAB2BD;}
.hlg-app .main .Mpromotion .promo-flag{ display:inline-block; padding:0 3px; background:#f2726f; color:#fff;}
.hlg-app .main .Mpromotion .promo-tiem-flag{ width:7px; height:7px; margin:5px 7px; display:inline-block; float:left; background:url(http://cdn.huanleguang.com/img/hlg-app/promo/promo-list-icon.jpg) no-repeat scroll 0 -16px;}
html.ie6 .hlg-app .main .Mpromotion .promo-tiem-flag{ display:inline;}
.hlg-app .main .Mpromotion .promo-tip{ clear:both; line-height:12px; padding-top:10px;}
.hlg-app .main .Mpromotion .promo-tip span{ height:12px; padding-left:17px; color:#ed5564; display:inline-block; background:url(http://cdn.huanleguang.com/img/hlg-app/promo/promo-list-icon.jpg) no-repeat;}
.hlg-app .main .Mpromotion .promo-tip a{ padding-left:15px;}
.hlg-app .main .Mpromotion .pauseing .promo-tip span{ background-position:0 -26px; color:#aab2bd;}
/*活动总数*/
.hlg-app .main .Mpromotion .data-tip{ height:36px; overflow:hidden; margin-bottom:20px;}
.hlg-app .main .Mpromotion .data-tip .data-text{ float:left; line-height:36px;}
.hlg-app .main .Mpromotion .data-tip .data-text span{ color:#fb6e52;}
/*头部*/
.hlg-app .main .Mpromotion .ui-tab-1{ float:left; font-family:'宋体';}
/*活动下拉操作*/
.hlg-app .main .Mpromotion .more-handle{ width:92px; display:inline-block;} 
.hlg-app .main .Mpromotion .down-icon{ margin-left:10px; padding-right:23px; display:inline-block; color:#656d78; background:url(http://cdn.huanleguang.com/img/hlg-app/common/hlg-app-common.png) no-repeat scroll right -30px;}
.hlg-app .main .Mpromotion .down-more{ width:92px; display:none; border:1px #e5e8ed solid; border-radius:3px; padding-top:30px; position:absolute; right:5px; top:-3px; z-index:100;}
.hlg-app .main .Mpromotion .ui-list .list-bd .list-item li.list-edit .down-more a{ height:30px; line-height:30px; padding:0 10px; display:block; text-align:left; margin:0; border-top:1px #e5e8ed solid; color:#656d78; background:#fff;}
.hlg-app .main .Mpromotion .ui-list .list-bd .list-item li.list-edit .down-more a:hover{ background:#f6f7fb; color:#656d78; border-radius:0;}
/*返回上级*/
.hlg-app .main .Mpromotion .return-top{ padding-top:5px;}
/*活动中宝贝加入状态*/
.hlg-app .main .Mpromotion .ui-select .down-icon-1, .ui-select .down-value{ padding-right:0;}
/*获取代码弹窗*/
.pop-getCode{ padding-top:20px;}
.pop-getCode textarea{ width:380px;height:200px;}
.get-code-btn{ display:none;}
/*重启活动弹窗设置时间*/
.pop-restart{ padding:20px 0 0 50px;}
.pop-restart .restart-tiem{ padding-bottom:5px;}
.pop-restart .restart-tiem input{ width:130px;}
.pop-restart .restart-check{ padding-left:60px;}




