/**
 
	create投放素材文件create.css
 
**/
.hlg-app .main .Mlist .w-830{width:830px;}
.hlg-app .main .Mlist .m-auto {margin-left: auto;margin-right: auto;}
.hlg-app .main .Mlist .ui-about-list{margin:20px auto 10px auto;}
.hlg-app .main .Mlist .input-text-2{width:220px;}
.hlg-app .main .Mlist .margin-rightorleft-10{margin-left:10px;}