/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
     2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
     3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
*/

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
/*谷歌浏览器支持小于12px字体*/
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var ,i { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */


/** 重置列表元素 **/
ul, ol, li{ list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; color:#4dc1e8; cursor:pointer; outline:none;}
a:hover { text-decoration: none; color:#8BD167; }

sup { vertical-align: text-top; } /* 重置，减少对行高的影响 */
sub { vertical-align: text-bottom; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}
mark { background: #ff0; }

/*
Copyright 2010, KISSY UI Library v1.1.5
MIT Licensed
build time: Oct 15 14:07
*/
/*
双飞翼栅格布局 Flying Swing Grids Layout
理念：简单质朴，语义化布局。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
*/

/* 居中 */
#header, #content, #footer {
    margin-left: auto;
    margin-right: auto;
}

/** 布局基础样式 **/
.col-main {
    float: left;
    width: 100%;
    /* bug fix: 主栏没有内容时，在 Firefox 和 Chrome 等浏览器下，布局不对 */
    min-height: 1px;
}
.col-sub, .col-extra {
    float: left;
    /*position: relative;  按需设置，仅在需要时添加 */
}

/** 清除浮动 **/
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}
.layout, .main-wrap, .col-sub, .col-extra {
    *zoom: 1;
}
/*
Copyright 2010, KISSY UI Library v1.1.5
MIT Licensed
build time: Oct 15 14:07
*/
/*
常用的通用样式 Common Style
理念：少而精
维护：玉伯<lifesinger@gmail.com>
*/

/* 隐藏 */
.ks-hidden {display:none;}
.ks-invisible{ visibility: hidden;}

/* 清除浮动 */
.clear:after,.ks-clear:after { content:'\20'; display:block; height:0; clear:both; }
.clear,.ks-clear { *zoom:1;}

/* inline block */
.ks-inline-block { display: inline-block; *display: inline; }

/*下拉框*/
select{border:1px solid #A7A6AA; height:22px; font-size:12px; line-height:22px;}
select option{ padding:3px;}

/*漂浮*/
.fl{ float:left;}
.fr{ float:right;}

/*定位*/
.relative{ position:relative;}

/*显示为块*/
.block{ display:block;}
.m-auto{margin: 0 auto}
.center {text-align: center;}
/*字体颜色*/
.color-v1{ color:#F6F7FB;} /*一般用作淡色背景*/
.color-v2{ color:#E5E8ED;} /*一般用线条描边*/
.color-v3{ color:#ccd0d9;} /*辅助色*/
.color-v4{ color:#aab2bd;} /*说明辅助文字*/
.color-v5{ color:#656d78;} /*标题主题文字 按钮背景色*/
.color-v6{ color:#434a54;} /*大标题 按钮hover背景*/
.color-red{color:#fb6e52;}
.color-green{ color:#73bf4d;}


/*input START*/
input{ vertical-align:middle}
*:focus{ outline:none;}
.input-text-1{ width:120px;height:28px;*height:28px;line-height:28px;}
.input-text-2{ width:150px;height:28px;*height:28px;line-height:28px;}
.input-text-3{ width:230px;height:36px;*height:36px;line-height:36px;}
.input-text-1,.input-text-2,.input-text-3{ border:1px solid #E5E8ED; color:#7a818b;border-radius:5px;padding:0 4px;}
.input-text-1:hover,.input-text-2:hover,.input-text-3:hover{ border:1px solid #ccd0d9;}
.input-text-1:focus,.input-text-2:focus,.input-text-3:focus{ border:1px solid #8bd167;}
.input-text-1:disabled,.input-text-2:disabled,.input-text-3:disabled{ border:1px solid #e5e9ec;background-color:#f6f7fb;}
html.ie8 input[disabled]{border:1px solid #e5e9ec;background-color:#f6f7fb;}
.input-none{ vertical-align:middle; height:22px; line-height:22px; color:#666; background:none; border:0;}
.text-error{border:1px solid red;}
.input-text-on{border:1px solid #ccd0d9;}
/*input END*/

.x-caret {
display: inline-block;
width: 0;
height: 0;
border: 4px solid rgba(0, 0, 0, 0);
line-height: 0;
_border-color: tomato;
_filter: chroma(color=#ff6347);
}
/*<span class="x-caret x-caret-down"></span>  三角形 向下 */
.x-caret-down {
	border-top: 4px solid #000;
	border-bottom: 0;
}
/*<span class="x-caret x-caret-down"></span>  三角形 向上*/
.x-caret-up {
	border-top: 0;
	border-bottom: 4px solid #000;
}
/*<span class="x-caret x-caret-down"></span>  三角形 向左 */
.x-caret-left {
	border-left: 4px solid #000;
	border-right: 0;
}
/*<span class="x-caret x-caret-down"></span>  三角形 向右 */
.x-caret-right {
	border-right: 4px solid #000;
	border-left: 0;
}


/*按钮   START*/
.button {
display: inline-block;
*zoom:1;
*display:inline;
padding:0px 20px;
*padding:0px 20px;
margin-bottom: 0;
font-size: 16px;
height:38px;
line-height:38px;
font-weight: 700;
color: #fff;
text-align: center;
cursor: pointer;
background-image:none; 
background-color:#E5E8ED; 
border:1px solid #E5E8ED; 
border-radius: 5px; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px; 
}
.ie7 .button {line-height:32px;}
.ie8 .button {line-height:40px;}
.button-creat{display: inline-block;*zoom:1;
*display:inline;
padding:9px;
*padding:8px 0px;
margin-bottom: 0;
font-size: 15px;
line-height: 18px;
font-weight: 700;
color: #fff;
text-align: center;
cursor: pointer;
background-image:none; 
background-color:#E5E8ED; 
border:1px solid #E5E8ED; 
border-radius: 5px; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px; }
.button,.button:hover,.button-creat,.button-creat:hover{
color: #fff;
text-decoration:none;
}
.btm-small{
display: inline-block;
*zoom:1;
*display:inline;
padding:0px 12px;
*padding:0px 6px;
margin-bottom: 0;
font-size: 12px;
line-height:22px;
*line-height:20px;
font-weight: 400;
color: #fff;
text-align: center;
cursor: pointer;
background-image:none; 
background-color:#E5E8ED; 
border:1px solid #E5E8ED; 
border-radius: 5px; 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px; 	
}
.ie8 .btm-small{line-height:24px;}
.button-green{
border:1px solid #8BD167; 
background-color: #8BD167;
}
.button-green:hover, .button-green:active, .button-green.active, .button-green.disabled{border:1px solid #73BF4D; background-color:#73BF4D;}
.button-gray{
border:1px solid #656D78; 
background-color: #656D78;
}
.button-gray:hover, .button-gray:active, .button-gray.active, .button-gray.disabled{border:1px solid #434A54; background-color:#434A54;}
.button-blue{
border:1px solid #4DC1E8; 
background-color: #4DC1E8;
}
.button-blue:hover, .button-blue:active, .button-blue.active, .button-blue.disabled{border:1px solid #3CAFDB; background-color:#3CAFDB;}
.button-creat .add-plus{font-style:normal; font-size:20px; font-weight:700;filter:alpha(opacity =50);-moz-opacity:0.5 ;-khtml-opacity: 0.5;opacity: 0.5; padding-right:5px;}

.button-disabled,.button-disabled:hover{border:1px solid #CCD0D9; background-color: #CCD0D9; color:#E5E8ED; cursor: default;}
/*按钮位置*/

