/**
 
	optim样式文件optimIndex.css
 
**/


.hlg-app .main .Moptim .optimIndex .page-head-left{line-height:36px;}
.hlg-app .main .Moptim .optimIndex .btyh-sprite {background: url('http://cdn.huanleguang.com/img/hlg/v3/btyh-sprite.png') no-repeat;}

.hlg-app .main .Moptim .optimIndex .img-question {width: 14px;height: 14px;margin: 4px 4px 0 0;background-position:-40px -61px;display: inline-block;}
.hlg-app .main .Moptim .optimIndex .img-remind {width: 14px;height: 14px;margin: 4px 4px 0 0;background-position: -59px -61px;display: inline-block;}
.hlg-app .main .Moptim .optimIndex .img-afreshGrade {width: 100px;height: 35px;background-position: -1px -1px;display: inline-block;float: right;cursor: pointer;}













