/**
 
	sub子账户列表页面样式文件item.css
 
**/
.hlg-app .main .Msub .sub-item .inner {padding: 20px 20px 0 20px;}
.hlg-app .main .Msub .sub-item .inner-1 {padding: 20px}

.hlg-app .main .content .iconDeletelink { 
	display: block;
	font-size: 0px;
	height: 20px;
	width: 20px;
	line-height: 20px;
	background: url(http://cdn.huanleguang.com/img/hlg-app/common/hlg-app-common.png) no-repeat -171px -190px;
	position:absolute; 
	right:10px; 
	top:4px;
	*zoom:1; 
}
.hlg-app .main .content  .iconDeletelink:hover {
display: block;
font-size: 0px;
height: 20px;
width: 20px;
line-height: 20px;
background:url(http://cdn.huanleguang.com/img/hlg-app/common/hlg-app-common.png) no-repeat -171px -168px;
}

 