/**
 
	tool宝贝属性检测样式文件check.css
 
**/
.hlg-app .main .Mtool .checkItem .set-area {border: 1px solid #e4e4e4;padding: 20px;}
.hlg-app .main .Mtool .checkItem .code-frame {margin-top: 30px;position: relative;}
.hlg-app .main .Mtool .checkItem .aid-pic {background: url("http://resource.aliapp.com/img/hlg/v3/auto-aid-pic.gif") no-repeat scroll 0 0 transparent;}
.hlg-app .main .Mtool .checkItem .code-frame .frame-title {background-position: 0 -115px;color: #fff;display: inline-block;height: 19px;left: 2px;position: absolute;text-align: center;top: -19px;width: 78px;}



















