/**
 
	tool仓库上下架样式文件instock.css
 
**/
.hlg-app .main .Mtool .instockAddPlan .main-seach{height:24px; line-height:24px; padding:5px 10px; clear:both; background:#ececec; border:0;}

.hlg-app .main .Mtool .instockIndex .baobei{text-align: left;position: relative;}
.hlg-app .main .Mtool .instockIndex .baobei span {display: block;position: absolute;left: 70px;top:0px;width: 130px;height: 60px;overflow: hidden;line-height: 20px;}






























