/**
	core首页样式文件dashboard.css
**/
.hlg-app .main .Mcore .main-wrap{  float: left;width: 100%;}
.hlg-app .main .Mcore .main-content {margin-right: 300px;}
.hlg-app .main .Mcore .sidebar {
  width: 280px; /*左边栏宽度，可自行修改*/
  float: left; /*侧栏居左*/
  margin-left: -280px;/*容器container的宽度*/
  display: inline;/*清除IE6下又边距*/
  zoom: 1;
  position: relative;
}

/*列表*/
.hlg-app .main .Mcore .ui-banner{height: 200px;overflow: hidden;padding-top: 5px;}
.hlg-app .main .Mcore .inner{padding: 10px 30px 30px 30px}
.hlg-app .main .Mcore .main-header{border-bottom: 1px solid #eaedf2;margin:10px 0px 0px 0px }
.hlg-app .main .Mcore .main-header li{width: 130px;float: left;text-align: left;margin-bottom: 22px;}
.hlg-app .main .Mcore .main-header li span{display: block;}
.hlg-app .main .Mcore .main-header .money-1{color: #73bf4d;font-size: 24px;font-family:Georgia;}
.hlg-app .main .Mcore .main-header .money-2{color: #4dc1e8;font-size: 24px;font-family:Georgia;}
.hlg-app .main .Mcore .main-header .title{color: #656d78;font-size: 12px;font-weight: 100;margin-top: 5px;}
.hlg-app .main .Mcore .ui-list .tip{background-color: #ccd0d9;color: #fff;padding: 0px 5px;line-height: 22px;border-radius: 3px;}
/*用户信息*/
.hlg-app .main .Mcore .user-info .top{height: 129px;border-bottom: 1px solid #eaedf2;color: #aab2bd}
.hlg-app .main .Mcore .user-info .top .inner{padding: 10px 30px}
.hlg-app .main .Mcore .user-info .top li{line-height: 30px;margin: 5px 0px;}
.hlg-app .main .Mcore .user-info .top li .name{color: #434a54}
.hlg-app .main .Mcore .user-info .top li .banben{background: #656d78;color: #fff;border-radius:3px;padding: 5px}
.hlg-app .main .Mcore .user-info .top li em{color: #fb6e52}
.hlg-app .main .Mcore .user-info .bottom{height: 50px;}
.hlg-app .main .Mcore .user-info .bottom li{float: left; border-left: 1px dotted #eaedf2;height: 50px;width:91px;line-height: 50px;text-align: center;}
.hlg-app .main .Mcore .user-info .bottom li.first{border:none}
.hlg-app .main .Mcore .user-info .bottom li a{color: #aab2bd}

/*公告*/
.hlg-app .main .Mcore .notice-box .inner{padding: 20px}
.hlg-app .main .Mcore .notice-box .title{font-size: 14px;font-weight: 200;color: #72777f;margin-bottom: 20px}
.hlg-app .main .Mcore .notice-box li{margin: 10px 0px;line-height: 20px;color: #aab2bd}
.hlg-app .main .Mcore .notice-box li .timer{color: #ccd0d9}

/*海报倒计时*/
.hlg-app .main .content #PromoCountDown{ width:220px; left:275px; bottom:34px; position:absolute; color:#fff; font-size:18px; font-weight:700; font-family:'微软雅黑';}
.hlg-app .main .content #PromoCountDown .day{ width:26px; height:35px; display:inline-block;}
.hlg-app .main .content #PromoCountDown .day b{ width:12px; display:inline-block; text-align:center; font-weight:normal; font-family:Arial}
.hlg-app .main .content #PromoCountDown .hour{ width:26px; height:35px; padding-left:5px; display:inline-block;}
.hlg-app .main .content #PromoCountDown .hour b{ width:12px; display:inline-block; text-align:center; font-weight:normal; font-family:Arial}
.hlg-app .main .content #PromoCountDown .min{ width:26px; height: 35px; display:inline-block; padding:0 3px 0 5px;}
.hlg-app .main .content #PromoCountDown .min b{ width:12px; display:inline-block; text-align:center; font-weight:normal; font-family:Arial}
.hlg-app .main .content #PromoCountDown .sec{ width:25px; height:35px; display:inline-block; padding:0 5px 0 5px;}
.hlg-app .main .content #PromoCountDown .sec b{ width:12px; display:inline-block; text-align:center; font-weight:normal; font-family:Arial}
