/**
	日历样式文件calendar.css
	<input type="text" id="J_startDate" class="input-day input-text"/>
 	日历js：
  	KISSY.use('bui/calendar',function(S,Calendar){
          var datepicker = new Calendar.DatePicker({
            	trigger:'#J_startDate',
            	autoRender : true
          	});
        });
**/

.calendar {
  background: url("http://img04.taobaocdn.com/tps/i4/T1kBv5XbRbXXb.nqL4-200-300.gif") no-repeat right -130px #ffffff;
}
.bui-calendar {
  border: 1px solid #c3c3d6;
  background-color: #ffffff;
  position: relative;
}
.x-datepicker-arrow .icon {
  margin-top: 2px;
  *overflow: hidden;
}
.x-datepicker-arrow .icon-caret-right {
  margin-left: 2px;
}
.x-datepicker-header {
  position: relative;
  height: 26px;
  line-height: 26px;
  background-color: #3366cc;
}
.x-datepicker-month {
  text-align: center;
}
.month-text-container {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}
.month-text-container .bui-caret {
  border-top-color: #ffffff;
  margin-left: 5px;
}
.x-datepicker-arrow {
  line-height: 14px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.x-datepicker-prev,
.x-datepicker-next {
  position: absolute;
  top: 5px;
  width: 14px;
  height: 14px;
  border: 1px solid #3340cc;
}
.x-datepicker-prev {
  left: 5px;
}
.x-datepicker-next {
  right: 5px;
}
/**panel**/
.bui-calendar-panel {
  outline: none;
}
table.x-datepicker-inner {
  width: 100%;
  table-layout: fixed;
}
.x-datepicker-inner,
.x-datepicker-inner td,
.x-datepicker-inner th {
  border-collapse: separate;
}
table.x-datepicker-inner tr {
  height: 20px;
}
table.x-datepicker-inner th {
  width: 25px;
  height: 19px;
  padding: 0;
  color: #333333;
  font: normal 10px tahoma, arial, verdana, sans-serif;
  text-align: right;
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -ms-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -o-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: linear-gradient(top, #ffffff, #e4e4e4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e4e4e4', GradientType=0);
  border-bottom: 1px solid #c3c3d6;
  cursor: default;
}
table.x-datepicker-inner th span {
  display: block;
  padding-right: 7px;
}
.x-datepicker-date {
  border: 1px solid;
  height: 17px;
  border-color: white;
  text-align: right;
  padding: 0;
}
.x-datepicker-date a {
  outline: none;
  padding-right: 4px;
  display: block;
  zoom: 1;
  font: normal 11px tahoma, arial, verdana, sans-serif;
  color: #333333;
  text-decoration: none;
  text-align: right;
  border: 1px solid #ffffff;
}
.x-datepicker-prevday a,
.x-datepicker-nextday a,
.x-datepicker-disabled a {
  text-decoration: none!important;
  color: #aaaaaa;
}
.x-datepicker-date a:hover {
  text-decoration: none!important;
  color: #333333;
  background-color: #dee5ff;
  border: 1px solid #ccd7ff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.x-datepicker-today a {
  border: 1px solid;
  color: #3366cc;
  border: 1px solid #99afff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.x-datepicker-active {
  cursor: pointer;
  color: #333333;
}
.x-datepicker-disabled a:hover {
  color: #aaaaaa;
  border-color: #ffffff;
  background: none;
}
.x-datepicker-selected a {
  background: repeat-x left top;
  background-color: #ccd7ff;
  border: 1px solid #99afff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/**footer**/
input.x-datepicker-time {
  width: 24px;
  height: 18px;
  text-align:center;
  margin:0 2px;
  cursor: pointer;
}
.x-datepicker-second {
  margin-right: 5px;
}
.bui-calendar-footer,
.x-monthpicker-footer {
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #c3c3d6;
  text-align: center;
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -ms-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -o-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: linear-gradient(top, #ffffff, #e4e4e4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e4e4e4', GradientType=0);
}
.bui-calendar-footer .button,
.x-monthpicker-footer .button {
  margin-right: 10px;
}
.bui-calendar-footer button.last,
.x-monthpicker-footer button.last {
  margin-right: 0;
}
.bui-calendar-footer .bui-bar-item-button,
.x-monthpicker-footer .bui-bar-item-button {
  *margin-top: 4px;
}
/**monthpicker**/
.bui-monthpicker,
.x-monthpicker {
  border: 1px solid #c3c3d6;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 0;
}
.bui-calendar .bui-monthpicker {
  top: -1px;
  left: -1px;
}
.x-monthpicker-yearnav .icon {
  margin-top: 2px;
  *margin-left: 2px;
  *overflow: hidden;
}
.x-monthpicker-months,
.x-monthpicker-years {
  height: 167px;
  width: 88px;
}
.x-monthpicker-months {
  float: left;
  border-right: 1px solid #c3c3d6;
  width: 87px;
}
.x-monthpicker-years {
  margin-left: 88px;
}
.x-monthpicker-item,
.x-timepicker .bui-list-item {
  float: left;
  margin: 4px 0 5px 0;
  font: normal 11px tahoma, arial, verdana, sans-serif;
  text-align: center;
  vertical-align: middle;
  height: 18px;
  width: 43px;
  border: 0 none;
}
.x-monthpicker-item a,
.x-timepicker .bui-list-item a {
  display: block;
  margin: 0 2px;
  text-decoration: none;
  color: #333333;
  border: 1px solid white;
  line-height: 17px;
}
.x-monthpicker-item-selected a,
.x-timepicker .bui-list-item-selected a {
  background-color: #ccd7ff;
  border: 1px solid #99afff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.x-monthpicker-item-hover a,
.x-timepicker .bui-list-item-hover a {
  color: black;
  background-color: #dee5ff;
  border: 1px solid #ccd7ff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.x-monthpicker-yearnav {
  height: 28px;
}
.x-monthpicker-yearnav .x-icon {
  margin: 6px 12px 5px 13px;
  cursor: pointer;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.x-monthpicker-yearnav .x-icon:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.x-timepicker {
  width: 180px;
  background-color: #ffffff;
  border: 1px solid #c3c3d6;
  border-bottom-color: #c3c3d6;
}
.x-timepicker ul {
  *zoom: 1;
}
.x-timepicker ul:before,
.x-timepicker ul:after {
  display: table;
  content: "";
}
.x-timepicker ul:after {
  clear: both;
}
.x-timepicker .bui-list-item {
  height: 15px;
  width: 20px;
}
.bui-inline-block {
display: inline-block;
}
.bui-calendar-footer .button {
	display: inline-block;
	padding: 4px 15px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #F4F4F4;
	background-image: -moz-linear-gradient(top,#FFF,#E4E4E4);
	background-image: -ms-linear-gradient(top,#FFF,#E4E4E4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#E4E4E4));
	background-image: -webkit-linear-gradient(top,#FFF,#E4E4E4);
	background-image: -o-linear-gradient(top,#FFF,#E4E4E4);
	background-image: linear-gradient(top,#FFF,#E4E4E4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e4e4e4',GradientType=0);
	border-color: #E4E4E4 #E4E4E4 #BEBEBE;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}
.bui-picker .button-small {
padding: 2px 10px;
font-size: 12px;
font-weight: normal;
line-height: 16px;
height: 22px;
}
.bui-picker .button-primary {
	height:auto;
	background-color: #3357CC;
	background-image: -moz-linear-gradient(top,#36C,#3340CC);
	background-image: -ms-linear-gradient(top,#36C,#3340CC);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#36C),to(#3340CC));
	background-image: -webkit-linear-gradient(top,#36C,#3340CC);
	background-image: -o-linear-gradient(top,#36C,#3340CC);
	background-image: linear-gradient(top,#36C,#3340CC);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3366cc',endColorstr='#3340cc',GradientType=0);
	border-color: #3340CC #3340CC #242D8F;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.bui-calendar .icon-caret-left {
	width: 8px;
	height: 8px;
	display: inline-block;
	background-position: -1px -227px;
}
.x-monthpicker-yearnav .icon-caret-left ,.bui-calendar .icon-caret-right{
	background-image: url("http://img04.taobaocdn.com/tps/i4/T1SMojXedaXXXCL3TD-469-300.png");
}
.bui-calendar .icon-white{
	background-image: url("http://img01.taobaocdn.com/tps/i1/T1qXIiXgXgXXXCL3TD-469-300.png");
}
.bui-calendar .icon-caret-right {
	background-position: -1px -235px;
	width: 8px;
	height: 8px;
	display: inline-block;
}
.x-monthpicker-yearnav .x-icon {
display: inline-block;
font-size: 20px;
font-weight: bold;
font-family: "Arial";
text-align: center;
height: 22px;
width: 22px;
line-height: 22px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border: 1px solid rgba(0, 0, 0, 0);
cursor: inherit;
}
.x-monthpicker-yearnav  .x-icon-normal {
text-shadow: none;
color: #9CA0B1;
background-color: #F5F5F5;
background-image: -moz-linear-gradient(top,#FFF,#E6E6E6);
background-image: -ms-linear-gradient(top,#FFF,#E6E6E6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#E6E6E6));
background-image: -webkit-linear-gradient(top,#FFF,#E6E6E6);
background-image: -o-linear-gradient(top,#FFF,#E6E6E6);
background-image: linear-gradient(top,#FFF,#E6E6E6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
border-color: #E6E6E6 #E6E6E6 #C0C0C0;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border: 1px solid #B3B3B3;
}
.x-monthpicker-yearnav .x-icon-small {
	font-size: 17px;
	height: 14px;
	width: 14px;
	line-height: 14px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
